// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// Common Font Sizes
$font-verdana: Verdana, Geneva, Tahoma, sans-serif;
$font-tahoma: Tahoma, sans-serif;
$font-small: .6rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-veryLarge: 2.0rem;

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 0fr .2fr .2fr; 
}
header {grid-row: 1/2; grid-column: 1/5;}
nav {grid-row: 2/3; grid-column: 1/5;}
aside {grid-row: 3/4; grid-column: 1/2;}
section {grid-row: 3/4; grid-column: 2/5;}
footer {grid-row: 4/5; grid-column: 1/5;}

.header {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  background-color: #ffdd99;
}
.header-photo-1 {
  max-width: 30%;
  padding-left: 5%;
}
.header-photo-2 {
  max-width: 30%;
}
.page-title {
  width: 100%;
  padding-top: 5%;
  color: #333300;
  text-align: center;
  justify-content: center;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999966;
}
.nav-item {
  font-size: $font-large;
  color: #fff;
  text-decoration: none;
  justify-content: space-around;
  padding-left: 4rem;
}
h1 {
  font-size: $font-veryLarge;
  text-align: center;
  color: #fff;
}
h3 {
  color: #fff;
  text-align: center;
  font-size: $font-veryLarge;
}
.aside-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #556B2F;
  width: 100%;
}
.activity {
  color: #fff;
  padding-top: 1em;
  padding-left: 2em;
}
.section-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #336600;
}
.welcome > p {
  font-size: $font-veryLarge;
  text-align: center;
  color: #fff;
}
.photos {
  display: flex;
  flex-direction: row;
  background-color: #336600;
}
.mtBaker {
  flex-direction: column;
  color: #fff;
  width: 100%;
}
.mtBaker > p {
  font-size: $font-large;
  color: black;
  width: 100%;
  text-align: center;
  padding-left: 2rem;
}
.baker-1 {
  width: 100%;
  border-radius: 25%;
  padding-left: 3rem;
}
.tulips {
  flex-wrap: column wrap;
  color: #fff;
  height: 100%;
}
.tulips-1 {
  width: 80%;
  border-radius: 25%;
  padding-left: 3rem;
}
.tulips > p {
  font-size: $font-large;
  color:black;
  width: 75%;
  justify-content: center;
  text-align: center;
}
.canoe {
  flex-wrap: column wrap;
  color: #fff;
  width: 100%;
}
.canoe > p {
  font-size: $font-large;
  color:black;
  text-align: center;
  width: 80%;
}
.canoe-1 {
  max-width: 100%;
  border-radius: 25%;
  padding-right: 10%;
}
.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333300;
  color: #fff;
}
.needle {
  width: 25%;
}
.market {
  width: 25%;
}
.companyInfo {
  font-size: $font-large;
  color: #fff;
  width: 50%;
  padding-top: 10%;
  text-align: center;
}