// Import partials here
@import '_base.normalize';

// Common Font Sizes
$font-verdana: Verdana, Geneva, Tahoma, sans-serif;
$font-tahoma: Tahoma, sans-serif;
$font-small: .6rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-veryLarge: 2.0rem;

* {
  box-sizing: border-box;
}
/* start of css in SCSS file */
header {
  display: flex;
  height: 20rem;
}
.header-photo-l {
  padding-left: 5%;
  width: 25%;
  background-color: white;
}
.header-photo-r {
  width: 25%;
}
.page-title {
  padding-top: 4%;
  width: 50%;
  font-size: 2.1rem;
}
h1 {
  padding-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}
h2 {
  color:#000000;
  font-size: $font-large;
  padding-left: 5rem;
}
h3 {
  color:#000000;
  font-size: $font-medium;
  padding-left: 5rem;
}
.nav-head {
  display: flex;
  padding-left: 5%;
  background-color: #999966;
}
.nav-item {
  font-size: $font-large;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 1rem 5rem 1rem 3rem;
  transition: all .1s ease-out-in;
  text-align: center;
}
.nav-item:hover {
    transition-duration: 3s;
    transform: scale(1.5);    
  }

/* Welcome intro coded for lesson 07 */

.photoView {
  width: 40%;
}
.wrapper {
  display: flex;
  height: 50%;
}
.welcomeIntro {
  color:#000000;
  font-size: $font-large;
  padding-left: 5rem;
  width: 100%;
}
.waDestin {
  flex-flow: column wrap;
}
.orDestin {
  flex-flow: column wrap;
}
.next {

}
.place-1 {

}
.place-2 {

}



/*--Top Footer Code--*/
.footer {
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333300;
  color: #fff;
}
.needle {
  width: 25%;
}
.market {
  width: 25%;
}
.companyInfo {
  font-size: $font-large;
  color: #fff;
  width: 50%;
  padding-top: 10%;
  text-align: center;
}
/*--End of Footer--*/
